
.app{
  text-align: center;
}
/* ---------------nav--------------- */
.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
}
.nav-section img{
  cursor: pointer;
}
.nav-menu-area{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  list-style-type: none; 
  padding-left: 0px;
}
.menu-list li{
  padding: 20px;
  cursor: pointer;
}
.menu-search{
  position: absolute;
  right: 20px;
  padding: 5px;
}
.search-box{
  border-bottom: 1px solid black;
  position: absolute;
  right: 40px;
  padding: 5px;
}
.login-icon{
  padding-top: 3px;
  margin-right: 10px;
}
.search-icon{
  cursor: pointer;
}
.search-box input{
  border:none;
  margin-left:5px;
}
.search-box input:focus {
  outline:none
}
/* ---------------nav--------------- */
/* ---------------product-Card--------------- */
.menu-list .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: black;
  text-align: center;
  padding: 50px 0;
  border-radius: 6px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}
.menu-list:hover .tooltiptext {
  visibility: visible;
}
#productAll-container{
  
}
.product-list img{
  height: 375px;
  width: 240px;
}
.product-list:hover img {
  transform: scale(1.05);
}
.product-info{
  margin-top: 11px;
  margin-bottom: 7px;
}
.choice{
  color: rgb(17, 72, 17);
  font-size: 7px;
}
/* ---------------product-Card--------------- */
/* ---------------product-Detail--------------- */
.product-img{
  display: flex;
  justify-content: flex-end;
}
#Detail{
  margin: 10px;
}
#Detail-Button{
  margin: 10px;
  width: 60px;
}
/* ---------------product-Detail--------------- */



@media (max-width: 768px) {  /* 핸드폰*/
  .search-box{
    display: none;
  }
  .product-list img{
    height: 460px;
    width: 340px;
  }
  .product-img{
    justify-content: center;
    height: 4600px;
    width: 300px
  }
  .menu-list{
    padding-left: 0px;
  }
}
@media (max-width: 1200px) { /* 태블릿*/
  .search-box{
    display: none;
  }
  .product-list img{
    height: 450px;
    width: 300px;
  }
  .product-img{
    justify-content: center;
    height: 460px;
    width: 330px;
  }
  .menu-list{
    padding-left: 0px;
  }
}